<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.robelseyoum3.perseusprayer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--    API returns a location with an accuracy approximately equivalent to a city block.-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--    permission to get most relavent location information.-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".ui.main.SplashActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>